.htaccess
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/themes/*
!wp-content/themes/recipedb/
wp-content/plugins/*
!wp-content/plugins/recipedb.php
wp-content/themes/twentyeleven/
wp_content
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
